<table *ngIf="employee">
    <thead>
        <tr>
            <th colspan="2">
                Employee Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Employee Code</td>
            <td>{{employee.Code}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{employee.Name}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{employee.Gender}}</td>
        </tr>
        <tr>
            <td>Annual Salary</td>
            <td>{{employee.AnnualSalary}}</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td>{{employee.DateOfBirth}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!employee">
    {{statusMessage}}
</div>