<div style="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="home">Home</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employees">Employees</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="bananaInABoxComponent">Banana In A Box</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employeeListComponentAsContainer">Component As Container</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employeeService">Angular Service</a>
        </li>
        <li routerLinkActive="active">
            <a routerLink="employeeService2">Angular Service2</a>
        </li>
    </ul>
    <br />
    <router-outlet></router-outlet>
</div>